<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Owners</title>
</head>
<body>
    <header th:insert="fragments/navbar :: navbar"></header>
    <div class="container">

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"  name="q" th:value="${query}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <div class="d-flex justify-content-between">
            <h1>OWNER</h1>
            <div>
                <a th:href="@{/owners/create}" class="btn btn-success">Create new Owner</a>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">City</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="owner : ${owners}"
                th:object="${owner}">
                <th scope="row">[[*{id}]]</th>
                <td>[[*{firstName}]]</td>
                <td>[[*{lastName}]]</td>
                <td>[[*{city}]]</td>
                <td class="d-flex">
                    <div>
                        <a th:href="@{/owners/{id} (id = *{id})}" type="button" class="btn btn-sm btn-warning mr-1">Show</a>
                    </div>
                    <div>
                        <a th:href="@{/owners/{id}/add-pet (id = *{id})}" type="button" class="btn btn-sm btn-secondary mr-1">Add pet</a>
                    </div>

                    <div>
                        <a th:href="@{/owners/{id}/update (id = *{id})}" type="button" class="btn btn-sm btn-primary mr-1">Update</a>
                    </div>

                    <div>
                        <a th:href="@{/owners/{id}/delete (id = *{id})}" type="button" class="btn btn-sm btn-danger mr-1">Delete</a>
                    </div>


                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>